<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
{{#if showHeader}}
    <header>
        <h1>Welcome to Our Authentication System</h1>
    </header>
{{/if}}
<main>
    {{{body}}}
</main>
{{#if showFooter}}
    <footer>
        <p>&copy; 2023 Authentication System by Manford</p>
    </footer>
{{/if}}

</body>
</html>
