<section>
    <p>This is the home page of our Authentication System.</p>

    {{#if showWelcomeMessage}}
        <div class="welcome-message">
            Welcome, {{username}}!
        </div>
    {{/if}}
</section>
<nav>
    <ul>
        {{#if user}}
            <li><a href="/users/logout" class="btn btn-logout">Logout</a></li>
        {{else}}
            <li><a href="/users/login" class="btn btn-login">Login</a></li>
            <li><a href="/users/register" class="btn btn-register">Register</a></li>
        {{/if}}
    </ul>
</nav>

