<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="auth-container">
    <div class="auth-card">
        <h1>Welcome</h1>
        {{#switch error}}
            {{#case "userNotFound"}}
                <div class="alert alert-warning">Username not found.</div>
            {{/case}}
            {{#case "incorrectPassword"}}
                <div class="alert alert-warning">The password is incorrect.</div>
            {{/case}}
            {{#default}}
                <div class="alert alert-info"></div>
            {{/default}}
        {{/switch}}
        <form id="login-form" class="auth-form" action="/users/login" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
            <p class="message">Not registered? <a href="/users/register">Create an account</a></p>
        </form>

    </div>
</div>

</body>
</html>
