<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Account</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<div class="auth-container">
    <div class="auth-card">
        <h1>Register for an Account</h1>
        {{#switch error}}
            {{#case "passwordMismatch"}}
                <div class="alert alert-danger">Passwords do not match.</div>
            {{/case}}
            {{#case "badWords"}}
                <div class="alert alert-warning">Username contains inappropriate language.</div>
            {{/case}}
            {{#case "invalidUsername"}}
                <div class="alert alert-warning">Username should only use characters from this set [azA-Z0-9_].</div>
            {{/case}}
            {{#case "passwordLength"}}
                <div class="alert alert-warning">Password length must be at least 8 and maximum 64.</div>
            {{/case}}
            {{#case "weakOrBreachedPassword"}}
                <div class="alert alert-warning">Password is too weak.</div>
            {{/case}}
            {{#default}}
                <div class="alert alert-info"></div>
            {{/default}}
        {{/switch}}

        <form id="register-form" class="auth-form" action="/users/register" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <span id="username-feedback"></span>
            </div>


            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password"  name="password" placeholder="Password" required>
            </div>

            <div class="form-group">
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" id="confirm-password" name="confirmPassword" placeholder="Confirm Password" required>
            </div>

            <div class="form-group">
                <label for="real-name">Real Name:</label>
                <input type="text" id="real-name" required name="realName" required>
            </div>

            <div class="form-group">
                <label for="dob">Date of Birth:</label>
                <input type="date" id="dateOfBirth" name="dateOfBirth">
            </div>
            <button type="submit">Register</button>
            <p class="message">Already registered? <a href="/users/login" class="btn-login">Sign In</a></p>

        </form>
        {{#if registrationSuccess}}
            <div class="alert alert-success" role="alert">
                Registration success! Welcome to join us.
            </div>
        {{/if}}

    </div>
</div>
</body>
</html>
