body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.auth-card {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form input[type=text],
.auth-form input[type=password],
.auth-form input[type=email],
.auth-form button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.auth-form button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: #0056b3;
}

.auth-form .message {
    margin: 15px 0 0;
    color: #333;
    font-size: 14px;
}

.auth-form .message a {
    color: #007bff;
    text-decoration: none;
}

.auth-form .message a:hover {
    text-decoration: underline;
}


/* 基础样式 */
.alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    text-align: center;
}

/* 不同类型的警告信息 */
.alert-danger {
    background-color: #d9534f; /* 红色系，用于错误消息 */
    border-color: #d43f3a;
}

.alert-warning {
    background-color: #f0ad4e; /* 橙色系，用于警告消息 */
    border-color: #eea236;
}
