body, h1, form, input, button, p {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.auth-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

.auth-card {
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type=text],
input[type=email],
input[type=password] {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    width: calc(100% - 22px); /* 100% - (padding + border) */
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.25);
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

p.message {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}



p.message a:hover {
    text-decoration: underline;
}


input[type="radio"] {
    display: none; /* Hide the radio input */
}
/* styles.css */
.alert {
    padding: 20px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
    animation: fadeIn 1s;
    font-size: 20px;
}

.alert-success {
    background-color: #4CAF50; /* Green background for success messages */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* 基础样式 */
.alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    text-align: center;
}

/* 不同类型的警告信息 */
.alert-danger {
    background-color: #d9534f; /* 红色系，用于错误消息 */
    border-color: #d43f3a;
}

.alert-warning {
    background-color: #f0ad4e; /* 橙色系，用于警告消息 */
    border-color: #eea236;
}

.btn-login {
    display: inline-block;
    padding: 10px 20px; /* 更大的填充 */
    background-color: #ffffff; /* 鲜艳的背景色 */
    color: #11cb11; /* 文字颜色 */
    font-size: 25px; /* 更大的字体大小 */
    text-decoration: none; /* 移除下划线 */
    border-radius: 5px; /* 轻微的圆角效果 */
    transition: background-color 0.3s; /* 平滑的背景颜色过渡 */
}

.btn-login:hover {
    background-color: #007afe; /* 鼠标悬停时的背景色 */
}

