/* 全局样式 */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* 页头样式 */
header {
  background-color: #007bff;
  color: white;
  padding: 20px 0;
  text-align: center;
}

/* 导航栏样式 */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #ffffff;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

/* 通用按钮样式 */
.btn {
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.btn-logout {
  background-color: #ff0000;
}
.btn-login {
  background-color: #066ef8;
}

.btn-login:hover {
  background-color: #020ff8;
}

.btn-register {
  background-color: #066ef8;
}

.btn-register:hover {
  background-color: #020ff8;
}

/* 主内容样式 */
main {
  flex: 1;
  padding: 20px;
  text-align: center;
}

/* 表单样式 */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="date"] {
  width: 100%;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* 页脚样式 */
footer {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
  bottom: 0;
}
/* 在你的style.css文件中添加 */
.welcome-message {
  background-color: #4CAF50; /* 绿色背景 */
  color: white; /* 白色文本 */
  text-align: center; /* 文本居中 */
  padding: 20px; /* 上下左右填充 */
  margin: 20px 0; /* 上下边距 */
  border-radius: 5px; /* 圆角边框 */
  font-size: 20px; /* 字体大小 */
}
